/* color palettes
   #EF233C
   #2B2D42
   #8099AE
   #EDF2F4*/


body{

    font-family: helvetica;
    margin: 0;    
    background-color: rgb(255, 255, 255); 
 }

/* navigation bar*/
ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#EDF2F4; 
    
    
}
li{
    float: left;  
}
    
li a {
   display: block;
   color:rgb(0, 184, 70);
   padding: 14px 16px;
   text-align:center;
   text-decoration:none;
   text-transform: uppercase;
   font-weight: 700;
   
}
a:hover {
     color:   #2B2D42;
    
}
/* Header and footer*/
img{
    max-width: 100%
    height:auto
    
}
 
header,{
    background-color:#2B2D42;
}

#content-wrap {
    background-color:rgb(0, 106, 114);
    text-align: center;
    margin:0;
    color: #e1e3e8;
}
#content-wrap h2 {
     padding-bottom:20px; 
    
}
#content-wrap img {
    border-radius: 50%;
    margin-top: 30px;
}
#content-wrap-2{
    background-color:#2B2D42;
    text-align: center;
    margin:0;
    color: #e1e3e8;
    padding: 80px;

    
}

#contact-info {
    background-color: rgb(0, 106, 114);
    text-align: center;
    margin:0;
    color:rgb(3, 192, 104) ;
    padding:80px;
    text-decoration: none;
    
}

/* About Me */


#about-me {

 margin:60px;
 
}

#about-me h3 {
    padding-top: 30px;
    margin-left:20px;
}

#about-me p{
    padding:20px;
    margin-top:0; 
}
    

/*skills and edcucation*/
#resume{
    row;
   margin: 60px;    
}
#resume h3 {
     margin-left: 20px;
      padding-top:10px;
}
#resume p{
    margin: 10px;
    padding: 10px
} 
#marg{
    margin: 10px;
}




